menu {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 4rem;

  > {
    .primary,
    .secondary {
      display: flex;
      flex-shrink: 0;
    }

    .primary {
//      align-content: flex-end;
//      flex-direction: row-reverse;
      order: 2;
    }

    .secondary {
      order: 1;
    }
  }
}
