table {
  table-layout: fixed;
  max-width: 100%;
}

th, td {
  padding: 1rem;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: $light-grey;
}
