.login {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-width: 30rem;
  }

  menu {
    padding: 0;
  }

  menu,
  .email,
  .password {
    width: 100%;
  }
}
