.panel {
  background-color: $white;
  box-shadow: 0 0 1rem rgba($black, 0.1);
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  footer,
  header {
    background-color: $black;
    color: $white;
    padding: 1rem;
    position: relative;

    &:empty {
      display: none;
    }
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    menu {
      padding: 0;
    }
  }

  .panel-content {
    overflow: auto;
    padding: 1rem;
  }
}
