.user-coin {
  flex-shrink: 0;
  margin: 1rem;
  position: relative;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  &.small {
    height: 4rem;
    width: 4rem;
  }

  &.medium {
    height: 6.5rem;
    width: 6.5rem;
  }

  &.large {
    height: 10rem;
    width: 10rem;
  }

  .back,
  .front {
    align-content: stretch;
    align-items: stretch;
    backface-visibility: hidden;
    border-color: $red;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
    bottom: 0;
//    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .front {
    background-color: $white;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }

  &:hover {
    transform: rotateY(180deg);
  }
}
