<header>
  <h2 class="title">{{title}}</h2>

  <small>
    <span class="posted-date">
      <i class="fa fa-clock-o"></i>
      Posted <time datetime="{{date}}">{{moment date format="DD MMM, YYYY"}}</time>
    </span>

    <span class="author">
      <i class="fa fa-user"></i>
    </span>

    <span>
      <i class="fa fa-folder"></i>
      Categories:
      <ul class="categories"></ul>
    </span>
  </small>
</header>

{{{content}}}

<ol class="comments"></ol>
