<ol class="article-list loading"></ol>

<menu type="toolbar">
  <div class="primary">
    <button id="next" type="button">Older</button>
  </div>
  <div class="secondary">
    {{page}}
    <button class="secondary" id="previous" type="button">Newer</button>
  </div>
</menu>
