<h1>Contact</h1>

<table>
  <tbody>
    <tr>
      <th>Email</th>
      <td>
        <a href="mailto:tre@trezy.com" data-bypass>tre@trezy.com</a>
      </td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>
        <a href="tel:2702102618" data-bypass>(270) 210-2618</a>
      </td>
    </tr>
  </tbody>
</table>
