<header>
  <h1>{{title}}</h1>
</header>

<div class="content">
  {{{body}}}
</div>

<footer>
  <menu type="toolbar">
    <div class="secondary">
      <button name="cancel" type="button">Close</button>
    </div>

    <div class="primary">
      <button name="confirm" type="button">Confirm</button>
    </div>
  </menu>
</footer>
