<header>
  {{{title}}}
</header>

<div class="content">
  {{{body}}}
</div>

{{#if showMenu}}
  {{#if menu}}
    {{menu}}
  {{else}}
    <footer>
      <menu type="toolbar">
        <div class="secondary">
          <button name="cancel" type="button">Close</button>
        </div>

        <div class="primary">
          <button name="confirm" type="button">Confirm</button>
        </div>
      </menu>
    </footer>
  {{/if}}
{{/if}}
