<article>
  <figure>
    <img src="/img/Merfong.gif">
    <figcaption><a href="http://twitter.com/fongvoltfan">@fongvoltfan</a> as a mermaid</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="/img/Klug4Prez.gif">
    <figcaption><a href="http://twitter.com/jasonmklug">@jasonmklug</a> looking super presidential</figcaption>
  </figure>
</article>

<article>
  <figure>
    <img src="/img/LotsaRyland.gif">
    <figcaption><a href="http://twitter.com/rylnd">@rylnd</a> photobombing <a href="http://twitter.com/whazzmaster">@whazzmaster</a>'s selfie</figcaption>
  </figure>
</article>
