<input checked data-hidden id="nav-control" type="checkbox">

<img class="brand" src="/assets/logo2.png">

<!--
<label class="hamburger hamburger--squeeze" for="nav-control">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</label>
-->

<nav></nav>
