<input data-hidden id="nav-control" type="checkbox">

<div class="user-coin medium">
  <div class="front">
    <img alt="The Fuel Rats logo" src="/assets/logo.png">
  </div>

  <div class="back">
    <img alt="{{user.fullname}}'s avatar" src="/assets/valor.gif">
  </div>

<!--  <div class="back avatar small" data-letter="T"><img src="//cdn.discordapp.com/attachments/149210332210921472/202374813396762625/mmlsxKr.gif"></div>-->
</div>

<label class="hamburger hamburger--squeeze" for="nav-control">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</label>

<nav></nav>
