<input checked data-hidden id="nav-control" type="checkbox">

<a class="spin-3d" href="/">
  <img class="brand" src="/assets/logo2.png">
</a>

<!--
<label class="hamburger hamburger--squeeze" for="nav-control">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</label>
-->

<nav></nav>
