<section class="hero">
  <header>
    <h1>We Have Fuel. You Don't.</h1>
    <h2>Any Questions?</h2>
  </header>
  <footer class="call-to-action">
    <a class="button" href="/get-help">Get Help</a>
  </footer>
</section>

<!--
<section style="background-image: url(/assets/slideshow_1.jpg);">

</section>

<section style="background-image: url(/assets/slideshow_2.jpg);">

</section>
-->
