<table class="full-width rescues padded striped">
  <thead>
    <td class="cmdr">CMDR</td>

    <td class="rescues">Rescues</td>

    <td class="achievements" colspan="5">Achievements</td>
  </thead>

  <tbody></tbody>
</table>
