<form>
  <input class="email" id="email" name="email" placeholder="Email" type="email">
  <input class="password" id="password" name="password" placeholder="Password" type="password">

  <menu type="toolbar">
    <div class="secondary">
      <button>Register</button>
    </div>

    <div class="primary">
      <button type="submit">Login</button>
    </div>
  </menu>
</form>
