<input class="email" id="email" name="email" placeholder="Email" required type="email">
<input class="password" id="password" name="password" placeholder="Password" required type="password">

<menu type="toolbar">
  <div class="secondary">
    <button class="secondary">Register</button>
  </div>

  <div class="primary">
    <button disabled type="submit">Login</button>
  </div>
</menu>
