<input id="email" name="email" placeholder="Email" type="text"><br>
<input id="password" name="password" placeholder="Password" type="password">

<menu type="toolbar">
  <div class="primary">
    <button type="submit">Login</button>
    <div id="google-signin"></div>
  </div>
</menu>
