<ul>
  <li>
    <a href="/blog">
      <span>Blog</span>
    </a>
  </li>

  <li>
    <label for="community-hub">
      <span>Community Hub</span>
    </label>

    <input data-subnav id="community-hub" type="checkbox">

<!--
    <ul data-subnav>
      <li>
        <label for="community-hub">
          <span><i class="fa fa-arrow-left"></i> Back</span>
        </label>
      </li>

      <li>
        <a href="/events">
          <span>Events</span>
        </a>
      </li>

      <li>
        <a href="/minor-faction">
          <span>Minor Faction</span>
        </a>
      </li>
    </ul>
-->
  </li>

  <li>
    <label for="propaganda">
      <span>Propaganda</span>
    </label>

    <input data-subnav id="propaganda" type="checkbox">

<!--
    <ul data-subnav>
      <li>
        <label for="propaganda">
          <span><i class="fa fa-arrow-left"></i> Back</span>
        </label>
      </li>

      <li>
        <a href="/blog">
          <span>Blog</span>
        </a>
      </li>

      <li>
        <a href="/client-testimonials">
          <span>Client Testimonials</span>
        </a>
      </li>

      <li>
        <a href="/epic-rescues">
          <span>Epic Rescues</span>
        </a>
      </li>

      <li>
        <a href="/donate">
          <span>Donate?</span>
        </a>
      </li>
    </ul>
-->
  </li>

  <li>
    <a href="/store">
      <span>Store</span>
    </a>
  </li>

  <li>
    <a href="/about">
      <span>About Us</span>
    </a>
  </li>
</ul>
