<td class="CMDRname">{{CMDRname}}</td>

<td class="rescues">
  {{#if rescues.length}}
    <ul class="rescues comma-separated inline"></ul>
  {{else}}
    This rat hasn't completed any rescues
  {{/if}}
</td>
