<header>
  Reminders

  <menu type="toolbar">
    <button class="minimize icon secondary">
      <i class="fa fa-fw fa-minus"></i>
    </button>
  </menu>
</header>

<ol class="content">
  <li class="rescue">
    <a href="/paperwork/rescue-id">
      System name 1

      <small>
        <time>Time since rescue</time>
      </small>
    </a>
  </li>

  <li class="rescue">
    <a href="/paperwork/rescue-id">
      System name 2

      <small>
        <time>Time since rescue</time>
      </small>
    </a>
  </li>

  <li class="rescue">
    <a href="/paperwork/rescue-id">
      System name 3

      <small>
        <time>Time since rescue</time>
      </small>
    </a>
  </li>
</ol>

<footer></footer>
