<header class="page-header">
  <h1>Statistics</h1>
</header>

<div class="page-content">
  <div class="row">
    <div class="leaderboard"></div>
    <div>
      <div class="row overview"></div>
      <div class="row timeline"></div>
      <div class="row system"></div>
    </div>
  </div>
</div>
