{{#if loggedIn}}
  <div class="avatar small" data-letter="T"></div>

  <nav>
    <ul>
      <li>
        <a href="/profile">My Profile</a>
      </li>

      <li>
        <a href="/stats">My Stats</a>
      </li>

      <li>
        <a href="/leaderboard">Leaderboard</a>
      </li>
    </ul>

    {{#if isAdmin}}
      <ul class="admin">
        <li>
          <a href="/users">Users</a>
        </li>
      </ul>
    {{/if}}
  </nav>
{{else}}
  <a class="button" href="/login">Login</a>
{{/if}}
