{{#if loggedIn}}
  <div class="avatar medium"><img src="{{avatar}}"></div>

  <menu>
    <nav class="user">
      <ul>
        <li>
          <a href="/profile">My Profile</a>
        </li>

        <li>
          <a href="/statistics">Statistics</a>
        </li>

        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </nav>

    {{#if isAdmin}}
      <nav class="admin">
        <header>Admin</header>

        <ul class="">
          <li>
            <a href="/rescues">Rescues</a>
          </li>

          <li>
            <a href="/rats">Rats</a>
          </li>

          <li>
            <a href="/users">Users</a>
          </li>
        </ul>
      </nav>
    {{/if}}

    <div class="stats">
      <header>My Stats</header>

      <table>
        <tbody>
          <tr>
            <th>Rescues</th>
            <td>648</td>
          </tr>
          <tr>
            <th>Assists</th>
            <td>537</td>
          </tr>
          <tr>
            <th>Favorite Ship</th>
            <td>Asp Explorer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </menu>
{{else}}
  <button class="login">Login</button>
{{/if}}
